<div class="mydp" [ngClass]="{'accessibility': accessibility}" [ngStyle]="{'width': width, 'border': inline ? 'none' : '1px solid #AAA'}">
    <div class="selectiongroup" *ngIf="!inline">
        <input type="text" class="selection" maxlength="10" [ngClass]="{'invaliddate': invalidDate&&indicateInvalidDate}" placeholder="{{showDateFormatPlaceholder?dateFormat:''}}"
                [ngStyle]="{'height': height, 'line-height': height, 'font-size': selectionTxtFontSize, 'border': 'none', 'padding-right': selectionDayTxt.length>0 ? '60px' : '30px'}"
                (keyup)="userDateInput($event)" [value]="selectionDayTxt" (input)="selectionDayTxt = $event.target.value" [attr.required]="required === true ? 'required' : ''"
                [attr.aria-invalid]="invalidDate && accessibility">
        <span class="selbtngroup">
            <button type="button" class="btnclear" [attr.aria-label]="clearBtnTxt" *ngIf="selectionDayTxt.length>0" (click)="removeBtnClicked(); pickerBtnFocus()">
                <span class="sr-only" *ngIf="accessibility">{{clearBtnTxt}}</span>
                <span class="icon icon-cross" [attr.aria-hidden]="accessibility" [ngStyle]="{'line-height': height}"></span>
            </button>
            <button type="button" class="btnpicker" [attr.aria-label]="pickerBtnTxt" (click)="openBtnClicked()">
                <span class="sr-only" *ngIf="accessibility">{{pickerBtnTxt}}</span>
                <span class="icon icon-calendar" [attr.aria-hidden]="accessibility" [ngStyle]="{'line-height': height}"></span>
            </button>
        </span>
    </div>
    <div class="selector" *ngIf="showSelector||inline" [ngClass]="{'inlinedp': inline, 'alignselectorright': alignSelectorRight}">
        <table class="header" role="presentation">
            <tr>
                <td>
                    <div style="float:left">
                        <div class="headerbtn" (click)="prevMonth()"><span class="icon icon-left"></span></div>
                        <div class="headermonthtxt">
                            <input type="text" *ngIf="editMonth" class="monthinput" maxlength="4" [inputFocus] [value]="visibleMonth.monthTxt" (keyup)="userMonthInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidmonth': invalidMonth}">
                            <span [ngClass]="{'monthlabel': editableMonthAndYear}" *ngIf="!editMonth" (click)="editMonthClicked($event)">{{visibleMonth.monthTxt}}</span>
                        </div>
                        <div class="headerbtn" (click)="nextMonth()"><span class="icon icon-right"></span></div>
                    </div>
                </td>
                <td>
                    <button type="button" class="headertodaybtn" (click)="todayClicked()">{{todayBtnTxt}}</button>
                </td>
                <td>
                    <div style="float:right">
                        <div class="headerbtn" (click)="prevYear()"><span class="icon icon-left"></span></div>
                        <div class="headeryeartxt">
                            <input type="text" *ngIf="editYear" class="yearinput" maxlength="4" [inputFocus] [value]="visibleMonth.year" (keyup)="userYearInput($event)" (click)="$event.stopPropagation()" [ngClass]="{'invalidyear': invalidYear}">
                            <span [ngClass]="{'yearlabel': editableMonthAndYear}" *ngIf="!editYear" (click)="editYearClicked($event)">{{visibleMonth.year}}</span>
                        </div>
                        <div class="headerbtn" (click)="nextYear()"><span class="icon icon-right"></span></div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="caltable">
            <caption class="sr-only" *ngIf="accessibility">{{title}}</caption>
            <thead><tr><th *ngFor="let d of weekDays" scope="col">{{d}}</th></tr></thead>
            <tbody (keydown)="calendarKeydown($event)" tabindex="-1" [inputFocus]>
            <tr *ngFor="let w of dates">
                <td *ngFor="let d of w" [attr.aria-label]="d.dateObj.day+'/'+d.dateObj.month+'/'+d.dateObj.year" (click)="!d.disabled && cellClicked(d);$event.stopPropagation()"
                  [ngClass]="{'currmonth':d.cmo===CURR_MONTH&&!d.disabled, 'currday':d.currDay, 'selectedday':selectedDate.day===d.dateObj.day && selectedDate.month===d.dateObj.month && selectedDate.year===d.dateObj.year && d.cmo===CURR_MONTH, 'disabled': d.disabled, 'tablesingleday': d.cmo===CURR_MONTH&&!d.disabled}">
                    <div [ngClass]="{'prevmonth':d.cmo===PREV_MONTH,'currmonth':d.cmo===CURR_MONTH,'nextmonth':d.cmo===NEXT_MONTH,'sunday':d.dayNbr === 0 && sunHighlight}">
                        <span [ngClass]="{'sundayDim': sunHighlight && d.dayNbr === 0 && (d.cmo===PREV_MONTH || d.cmo===NEXT_MONTH || d.disabled)}">{{d.dateObj.day}}<span class="sr-only" *ngIf="accessibility">/{{d.dateObj | my-date:month}}/{{d.dateObj.year | my-date:year}}</span></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
